name: Build Gradle FatJar

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission for Gradlew
        if: runner.os != 'Windows'
        run: chmod +x ./gradlew

      - name: Build Fat JAR
        run: ./gradlew fatjar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fatjar-${{ matrix.os }}
          path: build/libs/*.jar
